<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
</head>
<body>
<p id="p"></p>
<input type="text" id="room_name">
<button id="btn_qrcode">第一步：接收二维码</button> <br>
<button id="btn_check_login">check login</button>
<button id="btn_wxinit">第二步：初始化微信，得到个人信息</button><br>
<button id="btn_get_group_contact">第三步：获取群联系人</button><br>
<button id="btn_sync_check">第四步：检查是否有新消息</button><br>
<button id="btn_getmsg">第五步：接收新消息</button><br>

<button id="btn_lunxun">轮训消息检查，收发新消息</button><br>

消息：<input type="text" id="msg_content">
<button id="btn_send_msg">发送消息给某个群</button><br>
<div id="msg">
    <p></p>
</div>
<!-- <button id="btn_get_contact">get_contact</button> -->

<!-- <button id="btn_join">进入房间</button>
<button id="btn_receive">接收消息</button> -->
<img src="" alt="" id="qr_img" style="width: 200px; height: 200px;">

<img src="" alt="" id="HeadImgUrl" style="width: 200px; height: 200px;">
<!-- <img src="https://wx2.qq.com/cgi-bin/mmwebwx-bin/webwxgeticon?&username=@9a6149aee31631f85bd64292c6c1ef08&skey=@crypt_3b31a11b_ced471d5354ad56503f953c64dd5186f" alt=""> -->

<p id="retmsg"></p>
<script>
    var group_usernames = []
    var username = ''

    var WxProxyRequseting = {
        check_login: false,
        sync_check: false
    }
    // var socket = io.connect('http://' + document.domain + ':' + location.port);

    // socket.on("check_join", function(res) {
    //     console.log(res.msg)
    // })

    $("#btn_qrcode").on("click", function() {
        $.get("/wx/login/qrcode", function(res){
            imgSrc = "data:image/png;base64," + res.data.qrcode
            $('#qr_img').attr('src', imgSrc)

            var isLogin = false
            setInterval(() => {
                if (!isLogin && !WxProxyRequseting.check_login) {
                    WxProxyRequseting.check_login = true
                    $.get('/wx/login/checklogin').then((res) => {
                        WxProxyRequseting.check_login = false
                        console.log(res)
                        if (res.code === 200) {
                            isLogin = true
                        }
                    })
                }
            }, 2000);
        })
    })

    $("#btn_check_login").on("click", function() {
        $.get('/wx/login/checklogin').then((res) => {
            WxProxyRequseting.check_login = false
            console.log(res)
            if (res.code === 200) {
                isLogin = true
            }
        })
    })

    $("#btn_wxinit").on("click", function() {
        $.get("/wx/login/init", function(res){
            console.log(res)
            if (res.code == 200) {
                console.log('res data', res.data)
                console.log('res.data.Url', res.data.Url)
                src = res.data.Url + '/webwxgeticon?username='
                 + res.data.UserName 
                 + '&skey=' + res.data.Skey
                $('#HeadImgUrl').attr('src', src)
            }
        })
    })

    $("#btn_sync_check").on("click", function() {
        if (!WxProxyRequseting.sync_check) {
            WxProxyRequseting.sync_check = true
            console.log('send sync_check request')
            $.get("/wx/message/sync_check", function(res){
                WxProxyRequseting.sync_check = false
                console.log(res)
            })
        }
    })

    $("#btn_getmsg").on("click", function() {
        $.get("/wx/message/get_msg", function(res){
            console.log(res)
        })
    })

    $("#btn_get_group_contact").on("click", function() {
        $.get("/wx/contact/get_group_contact", function(res){
            console.log(res)
            if (res.code == 200) {
                group_list = res.data
                for (var i = 0; i < group_list.length; i++) {
                    group = group_list[i]
                    group_usernames.push(group.UserName)
                }
            }
        })
    })
    
    function lunxun() {
        if (!WxProxyRequseting.sync_check) {
            WxProxyRequseting.sync_check = true
            console.log('send sync_check request')
            $.get("/wx/message/sync_check", function(res){
                WxProxyRequseting.sync_check = false

               if (res.code == 200) {
                    // 有新消息了
                    if (res.data.message_status == 2 || res.data.message_status == 4 || res.data.message_status == 6) {
                        $.get("/wx/message/get_msg", function(res){
                            console.log(res)
                            if (res.code == 200) {
                                if (res.data){
                                    for (var i = 0; i < res.data.group_msg_list.length; i++) {
                                        group_msg = res.data.group_msg_list[i]
                                        groupNickName =  group_msg.GroupNickName  // 群名
                                        fromUserNickName = group_msg.FromUserNickName  // 昵称
                                        fromUserDisplayName = group_msg.FromUserDisplayName  // 群里面显示的昵称
                                        if (fromUserDisplayName) {
                                            $("#msg").append('<p>' + '[' + groupNickName + '] ' + fromUserNickName +
                                             '(' + fromUserDisplayName + '):</p>')
                                        } else {
                                            $("#msg").append('<p>' + '[' + groupNickName + '] ' + fromUserNickName + ':</p>')
                                        }


                                        if (group_msg['Type'] == 'Text') {
                                            $("#msg").append('<p>' + group_msg.Content + '</p>')
                                        } else if ((group_msg['Type'] == 'Image')) {
                                            $("#msg").append('<img src="' + group_msg.Content + '" style="width:200px;height:200px;">')
                                        } else if ((group_msg['Type'] == 'Audio')) {
                                            $("#msg").append('<audio src="' + group_msg.Content + '" controls="controls">您的浏览器不支持 audio 标签</audio>')
                                        }
                                    }
                                    
                                    for (var j = 0; j < res.data.mod_group_list.length; j++) {
                                        group = res.data.mod_group_list[j]
                                        console.log('改变的群名为: ' + group.NickName)
                                        members_str = ''
                                        for (var k = 0; k < group.MemberList.length; k++) {
                                            members_str += group.MemberList[k].NickName + ' '
                                        }
                                        console.log(members_str)
                                    }

                                    lunxun()
                                } else {
                                    lunxun()
                                }
                            } else {
                                lunxun()
                            }
                        })
                    } else {
                        lunxun()
                    }
               } else {
                   alert(res.msg)
               }
                
            })
        }
    }

    $("#btn_lunxun").on("click", function() {
        lunxun()
    })

    $("#btn_send_msg").on("click", function() {
        content = $("#msg_content").val()
        group_username = group_usernames[0]
        $.get('/wx/message/send_msg?content=' + content + '&to_username=' + group_username)
        .then(function (res) {
            console.log(res)
        })
    })

</script>
</body>
</html>